@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark;
}

/* Para Chrome, Safari, Edge */
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

/* Para Firefox */
input[type='date'] {
	appearance: none;
	-moz-appearance: textfield;
}
